header {
	background-color: $hefo-color;
	color: rgb(255, 255, 255);
	min-height: $width+40;
	div {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: $spacing-5*2;
		h1 {
			padding-left: $spacing-5*2;
			animation: h1animation;
			animation-timing-function: ease;
			animation-duration: 4s;
			animation-iteration-count: infinite;
		}
	}
	img {
		width: $width - 20;
		height: $height - 20;
		border-radius: $spacing-20;
		animation: infinite-rotate;
		animation-timing-function: ease;
		animation-duration: 10s;
		animation-iteration-count: infinite;
	}
}
.nav-menu {
	ul {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		list-style-type: none;
		padding: $spacing-5;
		animation: colorchange;
		animation-timing-function: ease;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		li {
			a {
				text-decoration: none;
				color: rgb(255, 255, 255);
				font-size: $font-5*4;
				&:visited {
					text-decoration: none;
				}
			}
			&:hover {
				background-color: rgb(255, 255, 255);
				color: black;
				border-radius: $spacing-20;
				border: $bordesito2;
				padding: 2px;
				transition-duration: 1s;
			}
			span {
				&:hover {
					color: rgb(0, 0, 0);
				}
			}
		}
	}
}