.main-sector {
	margin: $spacing-20;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "article article" "section aside" "section1 aside";
}
//help
.main-help {
	margin: $spacing-20+30;
	display: flex;
	justify-content: center;
	align-items: center;
	section {
		h2 {
			text-align: center;
			font-size: $font-20+30;
		}
		p {
			text-align: center;
			font-size: $font-20;
		}
	}
}
.sector-help {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: $spacing-20+10;
	h3 {
		padding: $spacing-20;
		font-size: $font-20*2;
		animation: wobble;
		animation-timing-function: ease;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}
	p {
		padding: $spacing-20*3;
		font-size: $font-20;
		a {
			text-decoration: none;
			color: black;
			border: 1px dashed red;
			&:hover {
				background-color: rgb(195, 195, 230);
			}
		}
	}
}
//end help
.sect {
	grid-area: section;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $back-color1;
	box-sizing: border-box;
	border-radius: 50px;
	border: 2px solid rgb(173, 216, 230);
	box-shadow: 4px 4px rgba(0, 0, 0, 0.521);
	div {
		h3 {
			font-size: $font-20*2;
			margin: $spacing-5*2;
		}
	}
}
.sect-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: $font-5*6;
	text-align: center;
}
.sect-img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: $spacing-5*2;
	img {
		margin: $spacing-5;
		min-width: $width-2;
		min-height: $height-2;
		border-radius: $spacing-5*2;
		border: 2px solid rgb(173, 216, 230);
		box-shadow: 3px 3px rgba(0, 0, 0, 0.521);
	}
}
.sect1 {
	grid-area: section1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: $font-20;
	margin-top: $spacing-20;
	box-sizing: border-box;
	background-color: $back-color1;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.521);
	border-radius: $spacing-20+30;
	img {
		margin-left: $spacing-5*2;
		border-radius: $spacing-20*3;
		border: 2px solid rgb(173, 216, 230);
		min-width: $width-2+50;
		min-height: $height+50;
	}
}
.first-var{
	background-color: $back-color1;
	border: 4px solid rgb(0, 0, 0);
}
//section products
.sect-t {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: $spacing-20;
	font-size: $font-20;
}
.sect-product {
	margin: $spacing-20;
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h4 {
			font-size: $font-20+10;
			margin: $spacing-20;
			animation: run-infinite;
			animation-timing-function: ease;
			animation-duration: 4s;
			animation-iteration-count: infinite;
		}
	}
}
//end section products
.artic {
	grid-area: article;
	display: flex;
	align-items: center;
	padding: $spacing-5*2;
	box-sizing: border-box;
	border: 2px solid rgb(173, 216, 230);
	background-color: $back-color1;
	margin: $spacing-20;
	border-radius: $spacing-20;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.521);
	div {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		font-size: $font-5*5;
	}
	img {
		display: flex;
		justify-content: end;
		align-items: flex-start;
		width: $width*3.5;
		min-height: $height*3.5;
		margin: $spacing-5;
		border-radius: $spacing-20;
		border: 2px solid rgb(173, 216, 230);
	}
}
.primer-titulo {
	font-size: $spacing-20*2;
	display: flex;
	margin: $spacing-20;
}
.sector-help-p {
	margin: $spacing-5;
	padding: 0px;
	font-size: $font-20;
}