.main-grid{
    padding: $spacing-5*2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 120px 120px 120px;
    grid-template-areas: 
    "item-1 item-2 item-3"
    "item-4 item-5 item-6"
    "item-7 item-8 item-9"
    ;
    grid-gap: $spacing-5;
    box-sizing: border-box;
    margin: $spacing-20;
}
.item1{
    grid-area: item-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-left: $bor-rad;
    border-radius: $spacing-5*2;
    p{
        font-size: $font-20;
        text-align: center;
    }
    div{
        img{
            width: $width-img+25;
            height: $height-img;
            margin: $spacing-5;
        }
    }
    &:hover{
        transform:rotateX(2deg) ;
        background-color: $color-hover;
        border-left: $bor-rad-1;
        transition-duration: 1.5s;
        border-radius: $spacing-20;
        box-shadow: 5px 5px;
    }
}
.item2{
    grid-area: item-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-left: $bor-rad;
    border-radius: $spacing-5*2;
    div{
        img{
            width: $width-img+25;
            height: $height-img;
            margin: $spacing-5;
        }
    }
    p{
        font-size: $font-20;
        text-align: center;
    }
    &:hover{
        transform:rotateX(2deg) ;
        background-color: $color-hover;
        border-left: $bor-rad-1;
        transition-duration: 1.5s;
        border-radius: $spacing-20;
        box-shadow: 5px 5px;
    }
}
.item3{
    grid-area: item-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-left: $bor-rad;
    border-radius: $spacing-5*2;
    p{
        font-size: $font-20;
        text-align: center;
    }
    div{
        img{
            width: $width-img+25;
            height: $height-img;
            margin: $spacing-5;
        }
    }
    &:hover{
        transform:rotateX(2deg) ;
        background-color: $color-hover;
        border-left: $bor-rad-1;
        transition-duration: 1.5s;
        border-radius: $spacing-20;
        box-shadow: 5px 5px;
    }
}
.item4{
    grid-area: item-4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-left: $bor-rad;
    border-radius: $spacing-5*2;
    p{
        font-size: $font-20;
        text-align: center;
    }
    div{
        img{
            width: $width-img+25;
            height: $height-img;
            margin: $spacing-5;
        }
    }
    &:hover{
        transform:rotateX(2deg) ;
        background-color: $color-hover;
        border-left: $bor-rad-1;
        transition-duration: 1.5s;
        border-radius: $spacing-20;
        box-shadow: 5px 5px;
    }
}
.item5{
    grid-area: item-5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-left: $bor-rad;
    border-radius: $spacing-5*2;
    p{
        font-size: $spacing-20;
        text-align: center;
    }
    div{
        img{
            width: $width-img+25;
            height: $height-img;
            margin: $spacing-5;
        }
    }
    &:hover{
        transform:rotateX(2deg) ;
        background-color: $color-hover;
        border-left: $bor-rad-1;
        transition-duration: 1.5s;
        border-radius: $spacing-20;
        box-shadow: 5px 5px;
    }
}
.item6{
    grid-area: item-6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-left: $bor-rad;
    border-radius: $spacing-5*2;
    p{
        font-size: $font-20;
        text-align: center;
    }
    div{
        img{
            width: $width-img+25;
            height: $height-img;
            margin: $spacing-5;
        }
    }    
        &:hover{
        transform:rotateX(2deg) ;
        background-color: $color-hover;
        border-left: $bor-rad-1;
        transition-duration: 1.5s;
        border-radius: $spacing-20;
        box-shadow: 5px 5px;    
}
}
.item7{
    grid-area: item-7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-left: $bor-rad;
    border-radius: $spacing-5*2;
    p{
        font-size: $font-20;
        text-align: center;
    }
    div{
        img{
            width: $width-img+25;
            height: $height-img;
            margin: $spacing-5;
        }
    }
    &:hover{
        transform:rotateX(2deg) ;
        background-color: $color-hover;
        border-left: $bor-rad-1;
        transition-duration: 1.5s;
        border-radius: $spacing-20;
        box-shadow: 5px 5px;
    }
}
.item8{
    grid-area: item-8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-left: $bor-rad;
    border-radius: $spacing-5*2;
    p{
        font-size: $font-20;
        text-align: center;
    }
    div{
        img{
            width: $width-img+25;
            height: $height-img;
            margin: $spacing-5;
        }
    }
    &:hover{
        transform:rotateX(2deg) ;
        background-color: $color-hover;
        border-left: $bor-rad-1;
        transition-duration: 1.5s;
        border-radius: $spacing-20;
        box-shadow: 5px 5px;
    }
}
.item9{
    grid-area: item-9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-left: $bor-rad;
    border-radius: $spacing-5*2;
    p{
        font-size: $font-20;
        text-align: center;
    }
    div{
        img{
            width: $width-img+25;
            height: $height-img;
            margin: $spacing-5;
        }
    }
    &:hover{
        transform:rotateX(2deg) ;
        background-color: $color-hover;
        border-left: $bor-rad-1;
        transition-duration: 1.5s;
        border-radius: $spacing-20;
        box-shadow: 5px 5px;
    }
}
.tabla{
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 250px ;
    table{
        font-size: 20px;
        border: 2px solid black;
        width: 800px;
    }
}

thead{
    border: $bordesito2;
}
th{
    border: $bordesito2;
}
tbody{
    border: $bordesito1;
    text-align: center;
}
tr{
    border: $bordesito1;
    text-align: center;
    td{
        &:hover{
            background-color: $color-hover;
            transform: scale(1.01);
            transition-duration: 1s;
        }
    }
}
td{
    border: $bordesito1;
    text-align: center;
}