// Colors
$back-color: rgb(182,172,210);
$text-color: rgb(0, 0, 0);
$color-hover: rgb(226, 231, 147);

//border
$bordesito2: 2px solid rgba(0, 0, 0, 0.459);
$bordesito1: 1px solid rgba(0, 0, 0, 0.459);
$bor-rad: 10px solid rgb(255, 0, 0);

// margin and padding
$pad-mar: 5px;