@import "variable";
@import "styles";
@import "header-nav";
@import "main-sect-artc";
@import "aside-footer-contact";
@import "product-grid-table";


    @keyframes h1animation {
	0% {
		transform: skew(10deg);
	}
	50% {
		transform: skew(-10deg);
		color: rgb(182, 240, 216);
	}
	100% {
		transform: skew(10deg);
	}
}
@keyframes infinite-rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes colorchange {
	to {
		background-color: rgba(19, 16, 58, 0.534);
	}
	from {
		background-color: rgb(61, 60, 60);
	}
}
@keyframes run-infinite {
	0% {
		transform: translateX(-1000px) scale(0.7);
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	50% {
		transform: translateX(0) scale(0.7);
	}
	65% {
		transform: scale(2);
	}
}
@keyframes wobble {
	0% {
		transform: translateX(0%);
	}
	15% {
		transform: translateX(-25%) rotate(-5deg);
	}
	30% {
		transform: translateX(20%) rotate(3deg);
	}
	45% {
		transform: translateX(-15%) rotate(-3deg);
	}
	60% {
		transform: translateX(10%) rotate(2deg);
	}
	75% {
		transform: translateX(-5%) rotate(-1deg);
	}
	100% {
		transform: translateX(0%);
	}
}
* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: 'Radio Canada';
	background-color: rgb(218, 218, 218);
}
@media screen and (max-width:768px) {
	header {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		min-height: $width;
		div {
			h1 {
				padding-top: $spacing-5;
				font-size: $font-20;
			}
		}
		img{
			width: $width - 50;
			height: $height - 50;
		}
	}
	.nav-menu {
		ul {
			li {
				a {
					font-size: 12px;
					padding: 2px;
				}
			}
		}
	}
	.main-grid{
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
		"item1"
		"item2"
		"item3"
		"item4"
		"item5"
		"item6"
		"item7"
		"item8"
		"item9"
		;
	}
	.item1{
		justify-content: space-around;
		p{
			font-size: $font-5*2;
		}
		div{
			img{
				width: $width-img - 20;
				height: $height-img - 20;
			}
		}
	}
	.item2{
		justify-content: space-around;
		p{
			font-size: $font-5*2;
		}
		div{
			img{
				width: $width-img - 20;
				height: $height-img - 20;
			}
		}
	}
	.item3{
		justify-content: space-around;
		p{
			font-size: $font-5*2;
		}
		div{
			img{
				width: $width-img - 20;
				height: $height-img - 20;
			}
		}
	}
	.item4{
		justify-content: space-around;
		p{
			font-size: $font-5*2;
		}
		div{
			img{
				width: $width-img - 20;
				height: $height-img - 20;
			}
		} 
	}
	.item5{
		justify-content: space-around;
		p{
			font-size: $font-5*2;
		}
		div{
			img{
				width: $width-img - 20;
				height: $height-img - 20;
			}
		}
	}
	.item6{
		justify-content: space-around;
		p{
			font-size: $font-5*2;
		}
		div{
			img{
				width: $width-img - 20;
				height: $height-img - 20;
			}
		}
	}
	.item7{
		justify-content: space-around;
		p{
			font-size: $font-5*2;
		}
		div{
			img{
				width: $width-img - 20;
				height: $height-img - 20;
			}
		}
	}
	.item8{
		justify-content: space-around;
		p{
			font-size: $font-5*2;
		}
		div{
			img{
				width: $width-img - 20;
				height: $height-img - 20;
			}
		}
	}
	.item9{
		justify-content: space-around;
		p{
			font-size: $font-5*2;
		}
		div{
			img{
				width: $width-img - 20;
				height: $height-img - 20;
			}
		}
	}
	.first-var {
		min-height: $width*3;
		min-width: $width*8;
		margin: $spacing-5*2;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
	

	.tabla table{
		display: none;
	}
	footer {
		div {
			nav {
				ul {
					justify-content: space-around;
					font-size: 12px;
					li {
						a {
							justify-content: center;
						}
					}
				}
			}
		}
	}
}
